<%- include header %>

<form method="post" id="postFrom">
  <fieldset>
    <legend>添加分类</legend>
  	分类名称：<br />
  <input type="text" name="title" /><br />
<br />
<br />
  <input type="submit" class="am-btn am-btn-success" value="添加" />
  </fieldset>
</form>

<%- include footer %>