					<div id="sidebar">		
						<!-- Logo -->
							<div id="logo">
								<h1><%= title %></h1>
							</div>				
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current_page_item"><a href="/index">主页</a></li>
									<li><a href="/archive">时间轴</a></li>
									<li><a href="/tags">标签</a></li>
									<% if(user){ %>
									<li><a href="/post">发表</a></li>
									<li><a href="/logout">登出</a></li>
									<% } else { %>
									<li><a href="/login">登录</a></li>
									<li><a href="/reg">注册</a></li>
									<% } %>
								</ul>
							</nav>
						<!-- Search -->
							<section class="is-search">
								<form method="GET" action="/search">
									<input type="text" class="text" name="keyword" placeholder="Search" />
								</form>				
						<!-- Copyright -->
							<div id="copyright">
								<p>
									&copy; 2016 HNA Front End Team.<br />
							</p>
						</div>
				</div>
			</div>
	</body>
</html>