<%- include header %>  
<div class="am-g">
  <div class="loginTitle">
    <h1>登陆</h1>
    <p>善于积累，方能立于不败之地</p>
  </div>
 <form id="loginForm" method="post">
  用户名：<input type="text" name="name"/><br />
  密码：  <input type="password" name="password"/><br />
         <input style="margin-top: 7%;"type="submit" class="am-btn am-btn-danger am-round" value="登录"/>
 </form>
</div>
<%- include footer %>