<%- include header %>

<form method="post" id="postFrom">
  <fieldset>
    <legend>发表</legend>
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input style="width: 30%;" type="text" name="tag1"/>
  <input style="width:30%;margin-left:3%;" type="text" name="tag2" />
  <input style="width:30%;margin-left:5.2%;" type="text" name="tag3" /><br />

  正文：<br />
  <textarea name="post" rows="15" cols="100" width="100%"></textarea>
  <p style="font-size:0.5em;color: #999699;margin-top:0.5em">这里图片建议从七牛引入外链节省空间<a href="http://www.qiniu.com/">去七牛</a></p>
  <br />
  <input type="submit" class="am-btn am-btn-success" value="发表" />
  </fieldset>
</form>
<%- include footer %>