<%- include header %>
  <div class="am-g loginTitle">
    <h1>注册</h1>
    <p>善于积累，方能立于不败之地</p>
  </div>
<form id="loginForm" method="post">
  用户名：  <input type="text" name="name"/><br />
  密码：    <input type="password" name="password"/><br />
  确认密码：<input type="password" name="password-repeat"/><br />
  邮箱：    <input type="email" name="email"/><br />
           <input class="am-btn am-btn-danger am-round" style="margin-top:7%;" type="submit" value="注册"/>
</form>
<%- include footer %>